html, body, .app-container{
  min-height: 100vh;
}

body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: black;
}

div {
    display: flex;
    flex-direction: column;
    line-height: 100%;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  height: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.li-odd{
    justify-content: flex-end;
    padding-right: 10px;

}

.li-even{
    margin-left: 560px;
    position: absolute;
    padding-left: 10px;

}

.li-even-img{
    margin-left: 510px;
    position: absolute;
}

.navbar-top{
    display:flex;
    padding-bottom: 10px;
    padding-top: 1em;
    padding-left: 1em;
    width: 70%;
}

.navbar-top > .title {
    width: 90%;
    align-items: center;
    color: white;
}

.navbar-top .link{
    text-decoration: none;
    color: white;
    align-self: center;
    margin-left: 2em;
}

.navbar-top .link:hover{
    color: #ccc;
}

.app-container{
    background: #000;
    background-image: url(./bck.jpg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-flex; display: -webkit-flex; display: flex;
}


.app-container > .container{
    width: 75%;
    background-color: #ededed;

    background: #cef5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #cef5f5 9%, #ededed 9%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cef5f5 9%,#ededed 9%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cef5f5 9%,#ededed 9%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cef5f5', endColorstr='#ededed',GradientType=0 );

    border-radius: 0 100px 0 0;
    border-top: 10px solid #0de0c9;
    border-right: 15px solid #0de0c9;
    flex:1;
}

.main-panel{
    align-items: center;
}

.search-panel {
    margin-top: 1.5em;

}

.search-panel > .search-input{
    width: 200px;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

.search-panel > .search-submit{
    width: 200px;
    border: none;
    border-radius: 20px;
    padding: 10px 55px 10px 55px;
    margin-left:10px;
    background-color:#f2ac33;
    color: white;
}
.search-submit:hover{
    background-color: #fac76e;
}

.patients-list {
    position: fixed;
    margin-top: 6em;
}

.patients-list .link{
    margin-left: 1em;
    background-color: #fff;
    padding: 0px 10px;
    border-radius: 20px;
    height: 40px;
    width: 450px;
    align-self: center;
    justify-content: center;
}

.patients-list .link:hover{
    cursor: pointer;
    color: #f2ac33;
}

.single-patient-item{
    display: flex;
    flex-direction: row;
}

.single-patient-detail{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.resource-list{
    width: 90%;
    margin-top: 2em;

}

.single-resource-item{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header{
    align-self: flex-start;
    margin-left: 1em;
    margin-top: 1em;
    padding: 10px;
}

.small-date{
    font-size: 10px;
    padding-bottom: 5px;
}

.small-comment{
    font-size: 12px;
    padding-top: 5px;
}


.link-button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#f2ac33;
    color: white;
    width: 30%;
    align-items:center;
}

.link-button:hover{
    background-color: #fac76e;
}


.plot-section{
    margin: 10px;
    margin-left: 20px;
    align-items: center;
}

.select-label{
    margin-top: 40px;
    margin-bottom: 10px;
    align-self: center;
}
.parameters-to-plot{
    width: 400px;
    padding: 5px;
    border-radius: 20px;
    border: none;
}

.plot-dates-range{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.plot-dates-range > div{
    margin: 10px;
    width: 200px;
}

.chart{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
}

.patient-name{
    display:flex;
    flex-direction: row;
}
.error-message{
    align-self: center;
    color: red;
    margin: 20px;
}

@media screen and (max-width: 1500px) {
  .app-container > .container {
    width: 90%;
  }
}

@media screen and (max-width: 1300px) {
  .app-container > .container {
    width: 80%;
  }
  .app-container{
    background-size: 90%;
    background-position: right bottom;
  }

  .single-patient-detail{
      margin-top: 0px;
  }


   li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        font-size: 17px;
        background: none;
      }

      .li-odd{
          justify-content: center;
          margin:0;
          padding:0;
          padding-right: 10px;
          padding-left: 10px;
          padding-bottom: 20px;
          padding-top: 20px;
          position: relative;
          background: white;
      }

      .li-even{
          justify-content: center;
          margin:0;
          padding:0;
          padding-right: 10px;
          padding-left: 10px;
          padding-bottom: 20px;
          padding-top: 20px;
          position: relative;
          background: white;
      }

      .single-resource-item{
          margin-bottom: 0px;
      }

      .single-resource-item > img{
          margin:0;
          padding:0;
          position: relative;
          height: 90px;
          width: 75px;
      }

      .small-date{
          align-self: center;
      }

      header{
          align-self: center;
          justify-content: center;
          align-items: center;
          margin: 0;
          margin-top: 2em;
          padding: 0px;
          font-size: 20px;
      }

      .link-button{
          padding: 15px;
          margin-bottom: 20px;
          width: 80%;
          align-items:center;
      }

}

@media screen and (max-width: 1000px) {
  .app-container > .container {
    width: 80%;
  }

}

@media screen and (max-width: 800px) {
  .app-container > .container {
    width: 100%;
    border-right: 0;
    background:#ededed;
  }

    .app-container{
      background:#000;
    }

    .chart{
        width: 50%;
    }

    .navbar-top{
        display:flex;
        padding-bottom: 10px;
        padding-top: 1em;
        padding-left: 1em;
        width: 100%;
    }

    .navbar-top > .title {
        width: 70%;
        align-items: center;
    }
    .navbar-top  h1{
        font-size: 20px;
    }



}